<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% if pesquisa %}Editar{% else %}Nova{% endif %} Pesquisa</title>
</head>
<body>
    <h1>{% if pesquisa %}Editar{% else %}Nova{% endif %} Pesquisa</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.pesquisa_nome.label }} {{ form.pesquisa_nome() }}<br>
        {{ form.data_inicio.label }} {{ form.data_inicio() }}<br>
        {{ form.data_fim.label }} {{ form.data_fim() }}<br>
        {{ form.submit() }}
    </form>
    <a href="{{ url_for('listar_pesquisas') }}">Voltar</a>
</body>
</html>
