<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pesquisas</title>
</head>
<body>
    <h1>Pesquisas</h1>
    <a href="{{ url_for('nova_pesquisa') }}">Nova Pesquisa</a>
    <ul>
        {% for pesquisa in pesquisas %}
            <li>
                {{ pesquisa.pesquisa_nome }} 
                <a href="{{ url_for('editar_pesquisa', id=pesquisa.pesquisa_id) }}">Editar</a>
                <form action="{{ url_for('deletar_pesquisa', id=pesquisa.pesquisa_id) }}" method="post" style="display:inline;">
                    <button type="submit">Deletar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
